RewriteEngine On
RewriteBase /uniliga

RewriteCond %{HTTP_COOKIE} !write-login=(.+);? [NC]
RewriteCond %{HTTP_COOKIE} !admin-login=(.+);? [NC]
RewriteRule ^(.*)$ /toornament/uniliga/$1 [NC,L,R=302]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R,L]

# redirect Pages
RewriteRule ^$ ./pages/startpage.php [NC,L]

## redirect team-list
RewriteRule ^turnier/(.+)/teams$ ./pages/teams-list?tournament=$1 [NC,L,QSA]

## redirect elo-overview
RewriteRule ^turnier/(.+)/elo$ ./pages/elo-overview?tournament=$1 [NC,L,QSA]

## redirect groups
RewriteRule ^turnier/(.+)/gruppe$ ./pages/tournament-details?tournament=$1 [NC,L]
RewriteRule ^turnier/(.+)/gruppe/(.+)$ ./pages/group-details?tournament=$1&group=$2 [NC,L,QSA]

## redirect matchhistory
RewriteRule ^turnier/(.+)/team/(.+)/matchhistory$ ./pages/teams-tournament-matchhistory?team=$2&tournament=$1 [NC,L]
RewriteRule ^team/(.+)/turnier/(.+)/matchhistory$ ./pages/teams-tournament-matchhistory?team=$1&tournament=$2 [NC,L]

## redirect statistics
RewriteRule ^turnier/(.+)/team/(.+)/stats$ ./pages/teams-tournament-statistics?team=$2&tournament=$1 [NC,L]
RewriteRule ^team/(.+)/turnier/(.+)/stats$ ./pages/teams-tournament-statistics?team=$1&tournament=$2 [NC,L]

## redirect teams tournament details
RewriteRule ^team/(.+)/turnier$ ./pages/teams-tournament-details?team=$1 [NC,L]
RewriteRule ^turnier/(.+)/team$ ./pages/teams-tournament-details?tournament=$1 [NC,L]
RewriteRule ^team/(.+)/turnier/(.+)$ ./pages/teams-tournament-details?team=$1&tournament=$2 [NC,L,QSA]
RewriteRule ^turnier/(.+)/team/(.+)$ ./pages/teams-tournament-details?team=$2&tournament=$1 [NC,L,QSA]

## redirect Tournaments
RewriteRule ^turnier$ ./pages/tournament-details [NC,L]
RewriteRule ^turnier/(.+)$ ./pages/tournament-details?tournament=$1 [NC,L]

## redirect matchhistory
RewriteRule ^team/(.+)/matchhistory$ ./pages/teams?team-details=$1 [NC,L]

## redirect statistics
RewriteRule ^team/(.+)/stats$ ./pages/team-details?team=$1 [NC,L]

## redirect teams
RewriteRule ^team$ ./pages/team-details [NC,L]
RewriteRule ^team/(.+)$ ./pages/team-details?team=$1 [NC,L,QSA]

## redirect players
RewriteRule ^spieler$ ./pages/player-page [NC,L]



# enable opening php files without .php ending
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.php [NC,L]