RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# manage maintenance mode
RewriteCond %{HTTP_COOKIE} !admin-login=(.+);? [NC]
RewriteCond %{DOCUMENT_ROOT}/../config/maintenance.enable -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.php
RewriteCond %{QUERY_STRING} !login
RewriteCond %{REQUEST_URI} !/styles/
RewriteCond %{REQUEST_URI} !/scripts/
RewriteRule ^(.*)$ ./pages/maintenance.php [R=503,L]

ErrorDocument 503 /pages/maintenance.php

# enable opening php files without .php ending
RewriteCond %{REQUEST_FILENAME}.php !-f
RewriteRule ^([^.]+)$ $1.php [NC,L]

# manage Pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]


ErrorDocument 404 /pages/error.php?error=404