body {
    display:flex;
    flex-direction:column;
    align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
#turnier-button-get{
    color: black;
    padding: 8px 70px 8px 70px;
    border-radius: 6px;
    cursor: pointer;
    background: limegreen;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: filter 0.2s linear;
}
#turnier-button-get:hover{
    filter: brightness(75%);
    background-color: limegreen;
}
div.get-result {
    color: #e1e1e1;
    height: auto;
    display: flex;
    flex-direction: column;
    background: dimgray;
    border-radius: 6px;
    justify-content: center;
    padding: 15px 0 15px 0;
    transition: padding 0.2s linear, height 0.5s linear;
    max-width: 90vw;
    overflow: scroll;
}
div.get-result.all-get-result {
    height: 60vh;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 650px;
    align-self: center;
    justify-self: center;
}
div.get-result.no-res {
    height: 0;
    padding: 0;
    margin-bottom: 0;
}
div.all-get-result-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: baseline;
    padding: 0 20px 0 20px;
}
div.turnier-get-result-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 20px 0 20px;
}


.turnier-select {
    display: flex;
    flex-direction: column;
}
div.refresh-button {
    width: fit-content;
    cursor: pointer;
    background: cornflowerblue;
    border-radius: 6px;
    padding: 8px 20px 8px 20px;
    font-size: 18px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s linear;
}
div.refresh-button:hover {
    filter: brightness(75%);
}
div.turnier-button-wrap {
    margin-top: 5px;
    margin-bottom: 12px;
}
div.turnier-button {
    color: black;
    padding: 30px 25px;
    border-radius: 6px 6px 0 0;
    background: cornflowerblue;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tbutton-act-wrap {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
}
.tbutton-act-wrap.open {
    max-height: 670px;
}
.tbutton-act {
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: filter 0.2s linear;
}
.tbutton-act:hover {
    filter: brightness(75%);
}
.tbutton-act.followed {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.tbutton-act.green {
    background: limegreen;
}
.tbutton-act.dgreen {
    background: yellowgreen;
}
.tbutton-act.orange {
    background: darkorange;
}
.tbutton-act.lblue {
    background: cornflowerblue;
}
.tbutton-act.green.followed {
    border-bottom-color: forestgreen;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.tbutton-act.orange.followed {
    border-bottom-color: orangered;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.tbutton-act.loading-data {
    cursor: default;
}
.tbutton-act.loading-data:hover {
    filter: brightness(100%);
}
.tbutton-act img {
    height: 25px;
    width: 25px;
}
div.turnier-button-open {
    background: royalblue;
}
div.tbutton-last {
    border-radius: 0 0 6px 6px;
}
div.tbutton-act.close {
    display: none;
}
div.tbutton-act.open {
    display: flex;
}