RewriteEngine On
RewriteBase /opl/uniliga

RewriteRule ^$ ./admin/pages/admin.php [NC,L]
RewriteRule ^ddragon$ ./admin/pages/ddragon-updates.php [NC,L]
RewriteRule ^rgapi$ ./admin/pages/rgapi.php [NC,L]