
.existing-suggestions {
    &:has(.content-loading-indicator)>div:not(.content-loading-indicator) {
        pointer-events: none;
        filter: opacity(0.4);
    }
}

button.open-add-suggestion-form {
    svg {
        transition: transform 180ms ease-out;
    }
    &:has(~.add-suggestion-form.open) svg {
        transform: rotateZ(45deg);
    }
}

.add-suggestion-form {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 180ms ease-out, margin 180ms ease-out;
    margin-bottom: 80px;

    &.open {
        grid-template-rows: 1fr;
        margin-bottom: 0;
    }

    &:has(.content-loading-indicator)>div:not(.content-loading-indicator) {
        pointer-events: none;
        filter: opacity(0.4);
    }


    .add-suggestion-games-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-height: 120px;
    }
}
.divider {
    &:has(+.add-suggestion-form) {
        min-height: 0;
        height: 0;
        transition: min-height 180ms ease-out;
    }
    &:has(+.add-suggestion-form.open) {
        min-height: 1px;
    }
}

.game-suggestion-details {
    display: grid;
    gap: 12px;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr 1px 1fr;
    grid-auto-columns: 42px;
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 8px 12px;

    .playdate {
        grid-row: 1;
        grid-column: 1 / span 3;
        text-align: center;
    }

    @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 1fr 1px 1fr;
        grid-auto-rows: 42px;

        label {
            grid-column: unset;
        }

        .playdate {
            grid-column: 1;
        }
    }

    &:has(input[type=checkbox]) {
        padding-right: 4px;

        .playdate {
            grid-column: 1 / span 4;
        }

        @media screen and (max-width: 640px) {
            padding-right: 12px;

            .playdate {
                grid-column: 1;
            }
        }
    }

    .team1,
    .team2 {
        .team-name {
            text-align: center;

            &.existing-team {
                font-weight: bold;
                text-decoration: underline;
            }
            &.unidentified-team {
                color: var(--text-sec);
            }
        }
    }

    .game-suggestion-details_player {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        .player-kda {
            color: var(--text-sec);
            margin-left: auto;
        }
    }

    label {
        display: flex;
        justify-content: center;
        grid-column: 4;
        padding-left: 2px;
        border-left: 1px solid var(--divider);

        @media screen and (max-width: 640px) {
            grid-column: unset;
            border-left: unset;
            border-top: 1px solid var(--divider);
        }

        input {
            width: 24px;
        }
    }
}