dialog .dialog-content h2 {
	margin-top: 0.5em;
}
dialog.has-dialog-loading-bar{
	--loading-bar-width: 0;

	&::before {
		content: '';
		height: 8px;
		background-color: #3c5a91;
		position: absolute;
		top: 0;
		left: 0;
		width: var(--loading-bar-width);
		transition: width 200ms linear, opacity 200ms linear;
	}
	&.hidden-loading-bar::before {
		opacity: 0;
	}
}
